
.icon-about:before { content: '\e801'; } /* '' */
.icon-projects:before { content: '\e802'; } /* '' */
.icon-writing:before { content: '\e803'; } /* '' */
.icon-email-list:before { content: '\e804'; } /* '' */